services:
  db:
    image: postgres:15
    container_name: malamahanadu_db
    restart: always
    environment:
      POSTGRES_DB: malamahanadu
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Rohith_1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: malamahanadu_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: malamahanadu_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  postgres_data:
